---
import { ViewTransitions } from "astro:transitions";

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ?? "Products"}</title>
		<ViewTransitions />
	</head>
	<body class="max-w-5xl mx-auto py-5 bg-black text-white">
	    <slot />
	</body>
</html>

<style>
	@import "open-props/animations";
	@import "open-props/easings";
	
	::view-transition-group(*) {
		animation-timing-function: var(--ease-squish-1);
		animation-timing-function: var(--ease-in-out-4);
	}
	
	::view-transition-old(*) {
		animation-duration: 0.1s;
	}
	
	::view-transition-new(*) {
		animation-duration: 0.5s;
	}
</style>
	